<%= simple_form_for @sanction do |form| %>
  <% if @sanction.errors.any? %>
    <ul>
    <% @sanction.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.input :description, label: 'Descripci贸n y resoluci贸n de la sanci贸n' %>
  <%= form.input :points_taken, label: 'Puntos que se deben restar' %>
  <%= form.input :videolink, label: 'video del incidente' %>
  <%= form.select(:user_event_id, user_events_for_select(@event.id), prompt: 'Seleccionar participante a sancionar') %>


  <%= form.submit 'Crear sanci贸n', class: 'btn btn-success' %>
<% end %>
