<h2>Sanciones de <strong><%= @event.track.name %></strong></h2>

<% @sanctions.each do |sanction| %>
  <p><%= sanction.points_taken %></p>
  <p><%= sanction.user_event.user.name %></p>
<% end %>

<a href="<%= new_sanction_path(event: params[:event_id], league: @league.id) %>" class="btn btn-info">Crear nueva sanción</a>
<a href="<%= events_path(event_id: params[:event_id], league: @league.id) %>" class="btn btn-info">Volver a eventos</a>