<%= simple_form_for @league do |form| %>
  <% if @league.errors.any? %>
    <ul>
    <% @league.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.input :name, label: 'Nombre de la liga' %>
  <%= form.input :description, label: 'Descripción de la liga' %>
  <p>Sistema de puntos</p>
  <%= form.select(:points_system_id, points_system_for_select, prompt: 'Seleccionar sistema de puntos', label: 'Sistema de puntos') %>

  <h3>Agregar participante</h3>
  <%= form.fields_for :user_leagues do |user_league| %>
    <%= render 'user_league_fields', f: user_league %>
  <% end %>

  <div class="link">
    <%= link_to_add_association "Agregar otro participante", form, :user_leagues %>
  </div>
  <%= form.submit 'Crear nueva liga', class: 'btn btn-success' %>
<% end %>
