<div class="container mt-4">
  <h1>Bienvenidos a F1Chile</h1>
  <p>Puedes ver nuestras ligas a continuación<p>
</div>

<% if can? :manage, League %>
  <%= button_to 'Crear nueva liga', new_league_path, class: 'btn btn-info', method: :get %>
<% end %>

<% @leagues.each do |league| %>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title d-inline-block"><%= league.name %></h5>
      <a href="<%= events_path(league: league.id) %>" class="d-inline-block"><i class="fas fa-list-ol"></i></a>
      <a href="<%= league_path(league.id) %>" class="d-inline-block">Tabla</a>
      <p class="card-text"><%= league.description %></p>
      <p class="card-text"><strong>Participantes: <%= league.league_participants %></strong></p>
      <p class="card-text"><strong>Carreras: <%= league.league_events %></strong></p>
      <% if can? :manage, League %>
        <%= link_to "Borrar liga", league_path(league), method: :delete, data: { confirm: "¿Estás seguro de borrar esta liga? Vas a borrar todos los eventos y participantes asociados, y esta acción no se puede deshacer"}  %>
      <% end %>
    </div>
    <!-- verificamos que el usuario haya hecho like -->
    <% if user_signed_in? %>
      <% pre_like = league&.league_likes.find { |like| like.user_id == current_user.id} %>
        <!-- si ya hizo like, mostramos boton unlike, sino, boton like -->
        <% if pre_like %>
            <%= link_to(league_like_path(pre_like, league_id: league.id), method: :delete) do %><i class="fas fa-thumbs-up fa-2x d-inline-block"></i><% end %>
        <% else %>
            <%= link_to(league_likes_path(league_id: league.id), method: :post)do%><i class="far fa-thumbs-up fa-2x d-inline-block"></i><% end %>
        <% end %>
    <% end %>
  </div>
<% end %>
