<div class="container mt-4">
  <h1>Bienvenidos a F1Chile</h1>
  <p>Puedes ver nuestras ligas a continuación<p>
</div>

<% if can? :manage, League %>
  <%= button_to 'Crear nueva liga', new_league_path, class: 'btn btn-info', method: :get %>
<% end %>

<% @leagues.each do |league| %>
  <div class="card mt-2">
    <div class="card-body">
      <h5 class="card-title d-inline-block"><%= league.name %></h5>
      <% if can? :manage, League %>
        <a href="<%= edit_league_path(league.id) %>" class="d-inline-block"><i class="far fa-edit"></i></a>
      <% end %>
      <a href="<%= events_path(league: league.id) %>" class="d-inline-block"><i class="fas fa-list-ol"></i></a>
      <a href="<%= league_path(league.id) %>" class="d-inline-block">Tabla</a>
      <p class="card-text"><%= league.description %></p>
      <p class="card-text"><strong>Participantes: <%= league.league_participants %></strong></p>
      <p class="card-text"><strong>Carreras: <%= league.league_events %></strong></p>
    </div>
  </div>
<% end %>