<div class="mt-4 container">
  <h1>Detalle liga</h1>

  <p><%= @league.name %></p>
  <p><%= @league.description %></p>
  <p><%= @league.participants %></p>
  <p><%= @league.admins %></p>
</div>

<%= link_to 'Volver a ligas', leagues_path %>