<div class="mt-4 container">
  <h1>Detalle liga</h1>

  <p>Nombre: <%= @league.name %></p>
  <p>Descripción: <%= @league.description %></p>
  <p>Nº de Participantes: <%= @league.participants %></p>
  <p>Nº de Admins: <%= @league.admins %></p>
</div>

<%= link_to 'Seleccionar participantes', new_user_league_path(league: @league.id) %>
<a href="<%= events_path(league: @league.id) %>" class="btn btn-info">Eventos</a>
<%= link_to 'Volver a ligas', leagues_path %>