<%= simple_form_for @event do |form| %>
  <% if @event.errors.any? %>
    <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <%= form.input :date, label: 'Fecha del evento' %>
  <%= form.select(:track_id, tracks_for_select, prompt: 'Seleccionar pista') %>
  <%= form.input :league_id, as: :hidden, input_html: { value: @league.id } %>

  <h3>Agregar participante</h3>
  <%= form.fields_for :user_events do |user_event| %>
    <%= render 'user_event_fields', f: user_event %>
  <% end %>

  <div class="link">
    <%= link_to_add_association "Agregar otro participante", form, :user_events %>
  </div>

  <%= form.submit 'Crear nuevo evento', class: 'btn btn-success', locals: { league: @league } %>
<% end %>
