<h2>Eventos de <strong><%= @league.name %></strong></h2>

<% if can? :manage, League %>
  <a href="<%= new_event_path(league: @league.id) %>" class="btn btn-info">Crear nuevo evento</a>
<% end %>
<a href="<%= league_path(@league.id) %>" class="btn btn-info">Volver a liga</a>

<% @events.each do |event| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= event.name %></h5>
      <p class="card-text"><strong><%= event.track_name %></strong></p>
      <p class="card-text"><%= event.date %></p>
      <p class="card-text"><%= event.track_country %></p>
      <p class="card-text">Pilotos: <%= event.participant_number %></p>
      <a href="<%= user_events_path(event_id: event.id, league: params[:league]) %>" class="btn btn-info">Tabla de Participantes</a>
      <a href="<%= extra_points_path(event_id: event.id, league: params[:league]) %>" class="btn btn-info">Puntos extra</a>
      <a href="<%= sanctions_path(event_id: event.id, league: params[:league]) %>" class="btn btn-info">Sanciones del evento</a>
      <% if can? :manage, League %>
        <%= link_to 'Borrar evento', event_path(event, league: params[:league]), method: :delete, data: { confirm: "¿Estás seguro de borrar este evento? Vas a borrar todos los participantes asociados con sus sanciones y puntos extra asociados, esta acción no se puede deshacer"}  %>
      <% end %>
    </div>
  </div>
<% end %>
