<h2>Eventos de <strong><%= @league.name %></strong></h2>

<% @events.each do |event| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= event.name %></h5>
      <p class="card-text"><strong><%= event.track_name %></strong></p>
      <p class="card-text"><%= event.date %></p>
      <p class="card-text"><%= event.track_country %></p>
      <p class="card-text">Pilotos: <%= event.participant_number %></p>
      <a href="<%= user_events_path(event_id: event.id, league: params[:league]) %>" class="btn btn-info">Table de Participantes</a>
      <a href="<%= sanctions_path(event_id: event.id, league: params[:league]) %>" class="btn btn-info">Sanciones del evento</a>
    </div>
  </div>
<% end %>

<a href="<%= new_event_path(league: @league.id) %>" class="btn btn-info">Crear nuevo evento</a>

<a href="<%= league_path(@league.id) %>" class="btn btn-info">Volver a liga</a>
