<h2>Participantes de <strong><%= @event.track.name %></strong></h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Posición</th>
      <th scope="col">Id de piloto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Puntaje preliminar</th>
      <th scope="col">Sanciones</th>
      <th scope="col">Puntaje final</th>
    </tr>
  </thead>
  <tbody>
    <% @user_events.each do |user_event| %>
      <tr>
        <td><%= user_event.position %></td>
        <td><%= user_event.user_driver_name %></td>
        <td><%= user_event.user_name %></td>
        <td><%= user_event.user_last_name %></td>
        <td><%= user_event.points %></td>
        <td>
          <% if user_event.sanctions_points > 0 %>
            -<%= user_event.sanctions_points %>
          <% else %>
            Sin sanciones
          <% end %>
        </td>
        <td><%= user_event.final_score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<a href="<%= events_path(league: @league.id) %>" class="btn btn-info">Volver a eventos</a>

